.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.maintitle {
  justify-content: center;
}

.game-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-button {
  display: flex;
  justify-content: center;
}

.box {
  width: 500px;
  border: 1px solid red;
  margin: 5px;
  justify-content: center;
  display: grid;
}

.item-img {
  width: 400px;
}

.main-img {
  width: 400px;
}

.win {
  border: 10px solid green;
  color: green;
}

.lose {
  border: 10px solid red;
  color: red;
}

.tie {
  border: 10px solid black;
  color: black;
}

h2 {
  text-align: center;
}